
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles.css')}}">
</head>
<body>
	<h1>Menu list in {{restaurant_name}}</h1>

	<p><a href="{{url_for('newMenuItem', restaurant_id=restaurant_id, restaurant_name=restaurant_name)}}">create your own favorite menu</a></p>
	<br>
	<br>
	<br>

	<div>
		
		{%for a in items%} 
		<h3>{{a.name}} </h3> 
		<p>Description: {{a.description}}</p>
		<p>Price : {{a.price}}</p>
		<!-- {{a.id}} -->
		<p>
			<a href="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id = a.id)}}">Edit this menu</a>
		</p>
		<p>
			<a href="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id = a.id)}}">Delete this menu</a>
		</p>
		<br>

		{% endfor %} 

	</div>
		

</body>
</html>