
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'styles.css')}}">
</head>
<body>
	<h1>Menu list in {{restaurant_name}}</h1>
	<a href="#">create your own favorite menu</a>
	<br>
	<br>
	<br>

	<div>
		{%for a in items%} 
		<b>Menu name:{{a.name}} </b> 
		<br>
		Description: {{a.description}}
		<br>
		Price : {{a.price}}
		<!-- {{a.id}} -->
		<br>
		<a href="#">Edit this menu</a>
		<br>
		<a href="#">Delete this menu</a>
		<br>
		<br>
		{% endfor %} 

	</div>
		

</body>
</html>