
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Restaurant list in this area</h1>
	<a href="{{url_for('newRestaurant')}}">create your own favorite restaurant</a>
	<br>
	<br>
	<br>

	<div>
		{% for resname in restaurants %}
		{%if resname.id > 9:%}
			<!-- {{resname.id}} -->
			<b>{{resname.name}}</b>
		<br>
		description of the restaurant :{{resname.description}}
		<br>
		<a href="{{url_for('editRestaurant')}}">Edit this restaurant</a>
		<br>
		<a href="/restaurant/">Delete this restaurant</a>
		<br>
		<br>

	</div>
		{% endif %}
		{% endfor %}


</body>
</html>